<h1>{{appTitle}}</h1>
<div class="container">
  <form action="/send-request" method="POST">

    <div class="mb-3">
      <label for="title" class="form-label">Titre</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="donner un titre sucinnct et clair"
        required>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select class="form-select" id="type" name="type" required>
        <option value="">Select a type</option>
        <option value="Télétravail">Télétravail</option>
        <option value="Congés payés">Congés payés</option>
        <option value="RTT">RTT</option>
        <option value="Congés Mariage">Congés Mariage</option>
        <option value="Congés Décès">Congés Décès</option>
        <option value="Congés Naissance">Congés Naissance</option>
        <option value="Congés de proche aidant">Congés de proche aidant</option>
        <option value="Congés sans solde">Congés sans solde</option>
        <option value="Congés Paternité">Congés Paternité</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="startDate" class="form-label">Début</label>
      <input type="date" class="form-control" id="startDate" name="startDate" required>
      <div class="mb-3 d-flex flex-row justify-content-around">
        <div class="form-check">
          <label class="form-check-label" for="startInTheMorning">Matin</label>
          <input type="radio" class="form-check-input" id="startInTheMorning" name="startInTheMorning" value="yes"
            checked>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="startInTheAfternoon">Après-midi</label>
          <input type="radio" class="form-check-input" id="startInTheAfternoon" name="startInTheAfternoon" value="yes">
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="endDate" class="form-label">Fin</label>
      <input type="date" class="form-control" id="endDate" name="endDate" required>
      <div class="mb-3 d-flex flex-row justify-content-around">
        <div class="form-check">
          <label class="form-check-label" for="endInTheMorning">Matin</label>
          <input type="radio" class="form-check-input" id="endInTheMorning" name="endInTheMorning" value="yes">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="endInTheAfternoon">Après-midi</label>
          <input type="radio" class="form-check-input" id="endInTheAfternoon" name="endInTheAfternoon" value="yes"
          checked>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="requestor" class="form-label">Demandeur</label>
      <input type="text" class="form-control" id="requestor" name="requestor" placeholder="Prénom Nom" required>
    </div>
    <div class="mb-3">
      <label for="sub" class="form-label">Remplaçant</label>
      <input type="text" class="form-control" id="sub" name="sub" placeholder="Prénom Nom">
    </div>

    <div class="mb-3">
      <label for="validators" class="form-label">Validateurs</label>
      <input type="text" class="form-control" id="validators" name="validators"
        placeholder="Prénom1 Nom1; Prénom2 Nom2">
    </div>

    <div class="mb-3">
      <label for="comments" class="form-label">Commentaires</label>
      <textarea class="form-control" id="comments" name="comments"></textarea>
    </div>

    <button type="submit" id="submitButton" class="btn btn-success">Envoyer la demande</button>
  </form>
  <br>
  <br>
  {{#if errorMessage}}
  <section id="errorMessage">
    <p>{{errorMessage}}</p>
  </section>
  {{/if}}
</div>


<script>

  const endInTheMorning = document.getElementById('endInTheMorning');
  const endInTheAfternoon = document.getElementById('endInTheAfternoon');

  endInTheMorning.addEventListener('change', () => {
    endInTheAfternoon.checked = false;
  });

  endInTheAfternoon.addEventListener('change', () => {
    endInTheMorning.checked = false;
  });

  const startInTheMorning = document.getElementById('startInTheMorning');
  const startInTheAfternoon = document.getElementById('startInTheAfternoon');

  startInTheMorning.addEventListener('change', () => {
    startInTheAfternoon.checked = false;
  });

  startInTheAfternoon.addEventListener('change', () => {
    startInTheMorning.checked = false;
  });

</script>