body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  text-align: center;
}

.container{
  max-width: 750px;
  padding: 50px 0;
}

#errorMessage{
  color:red;
  font-size: large;
}

.userTag{
  margin: 5px;
  font-size:x-small;
  align-items: center;
}

.userTag p{
  margin: 0;
  padding: 0;
}
.userTag button{
  font-size: x-small;
  margin: 0;
  padding: 0 2px;
}